<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Airline Test Suite">
    <listeners>
        <listener class-name="listeners.ExtentReportListener"/>
    </listeners>
    <test name="Database Validation Tests">
        <classes>
            <class name="AirlineTests"/>
        </classes>
    </test>
</suite>